In [30]:
import pandas as pd
#Q1
pd.__version__

'2.2.2'

In [7]:
#Q2
df = pd.read_csv(r'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')
row_count = len(df)
print(row_count)

2160

In [11]:
#Q3
df['Brand'].nunique()

27

In [16]:
#Q4
df.isna().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [18]:
#Q5
dell = df[df['Brand'] == 'Dell']
max = dell['Final Price'].max()
print(max)

3936.0

In [19]:
#Q6
median =  df['Screen'].median()
print(median)

14.5

In [20]:
mode = df['Screen'].value_counts().idxmax()
print(mode)

15.6

In [22]:
df.loc[df['Screen'].isnull(), 'Screen'] = mode

In [24]:
median = df['Screen'].median()
print(median)

14.5

In [15]:
#Q7
import numpy as np
import pandas as pd
df = pd.read_csv(r'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')
innjoo = df[df['Brand'] == 'Innjoo']
col = ['RAM', 'Storage', 'Screen']
csv_df = innjoo[col]
#print(innjoo)


# Get the underlying NumPy array. Let's call it X.
x = csv_df.values
#print(x)
# Compute matrix-matrix multiplication between the transpose of X and X. 
#   #To get the transpose, use X.T. Let's call the result XTX.
t_x = x.transpose()
#print(t_x)
#multiply t_x and x
XTX = np.dot(t_x,x)
#print(XTX)
# Compute the inverse of XTX.
i_XTX = np.linalg.inv(XTX)
#print(i_XTX)
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
y = np.array([1100, 1300, 800, 900, 1000, 1100])
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. 
# #Call the result w.
_w = np.dot(i_XTX,t_x)
w = np.dot(_w,y)
print(w)
# What's the sum of all the elements of the result?
sum_value = np.sum(w)
print(sum_value)

[45.58076606  0.42783519 45.29127938]
91.2998806299555