In [114]:
#homework for 03 Churn
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

data = 'https://raw.githubusercontent.com/moonrayspex/machine-learning-dtzc-homework/refs/heads/main/03-churn/bank_full.csv'
df = pd.read_csv(data, sep=',', header=0)

In [107]:
df.columns
df.head()
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [115]:
df = df[['age', 'job', 'marital', 'education','balance', 'housing',
    'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y']].copy()

df.head()
df.dtypes

age           int64
job          object
marital      object
education    object
balance       int64
housing      object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [109]:
df.nunique()

age            77
job            12
marital         3
education       4
balance      7168
housing         2
contact         3
day            31
month          12
duration     1573
campaign       48
pdays         559
previous       41
poutcome        4
y               2
dtype: int64

In [110]:
df.isna().sum()

age          0
job          0
marital      0
education    0
balance      0
housing      0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [84]:
#Question 1
mode_edu = df['education'].mode()[0]
mode_edu

'secondary'

In [ ]:
#Question 2 - CORRELATION MATRIX
# https://www.w3schools.com/datascience/ds_stat_correlation_matrix.asp
# Create the correlation matrix for the numerical features of your dataset. 
# In a correlation matrix, you compute the correlation coefficient between every 
# pair of features.

# What are the two features that have the biggest correlation?

In [104]:
numeric = df[['age','balance','day', 'duration', 'campaign', 'pdays','previous']].copy()

#correlation matrix
#view correlation coefficients between features
corr_matrix = numeric.corr()
corr_matrix
#pdays and previous have highest corr- coeff-.

               age   balance       day  duration  campaign     pdays  previous
age       1.000000  0.097783 -0.009120 -0.004648  0.004760 -0.023758  0.001288
balance   0.097783  1.000000  0.004503  0.021560 -0.014578  0.003435  0.016674
day      -0.009120  0.004503  1.000000 -0.030206  0.162490 -0.093044 -0.051710
duration -0.004648  0.021560 -0.030206  1.000000 -0.084570 -0.001565  0.001203
campaign  0.004760 -0.014578  0.162490 -0.084570  1.000000 -0.088628 -0.032855
pdays    -0.023758  0.003435 -0.093044 -0.001565 -0.088628  1.000000  0.454820
previous  0.001288  0.016674 -0.051710  0.001203 -0.032855  0.454820  1.000000

In [117]:
# Target encoding - ONE HOT ENCODING
#     Now we want to encode the y variable.
#     replace the values yes/no with 1/0.

#housing ; y have YN values
#only replace y with 01 - inplace - 
df['y'] = df['y'].map({'yes': 1, 'no': 0})
df.head()

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,2143,yes,unknown,5,may,261,1,-1,0,unknown,0
1,44,technician,single,secondary,29,yes,unknown,5,may,151,1,-1,0,unknown,0
2,33,entrepreneur,married,secondary,2,yes,unknown,5,may,76,1,-1,0,unknown,0
3,47,blue-collar,married,unknown,1506,yes,unknown,5,may,92,1,-1,0,unknown,0
4,33,unknown,single,unknown,1,no,unknown,5,may,198,1,-1,0,unknown,0

In [ ]:
# Split the data

#     Split your data in train/val/test sets with 60%/20%/20% distribution.
#     Use Scikit-Learn for that (the train_test_split function) and set the seed to 42.
#     Make sure that the target value y is not in your dataframe.

In [ ]:
# Question 3

#     Calculate the mutual information score between y and other categorical variables in the dataset. Use the training set only.
#     Round the scores to 2 decimals using round(score, 2).

# Which of these variables has the biggest mutual information score?

#     contact
#     education
#     housing
#     poutcome


# To calculate the mutual information score for Homework 3, Question 3, 
# you need to compute the mutual information score between the binarized price 
# variable (referred to as above_average) and the categorical variable ocean_proximity.
# This analysis should be performed using the training set only.
# You will use the following code snippet to calculate the mutual information score:

# python
from sklearn.feature_selection import mutual_info_score

# Assuming you have your data in a DataFrame called df
# and you have already created the binarized 'above_average' column.

# Calculate mutual information score
score = mutual_info_score(df['above_average'], df['ocean_proximity'])

# Round the score to 2 decimal places
rounded_score = round(score, 2)
print(rounded_score)

# The options for the mutual information score you can choose from are:
# - 0.26
# - 0
# - 0.10
# - 0.16
# Make sure to run the code after preparing your DataFrame correctly to determine 
# the exact mutual information score.

In [ ]:
# Y = has the client subscribed a term deposit (Y/N)